
@{
    ViewData["Title"] = "Избранные рецепты";
}

<div class="list-recipes">
  <div class="recipes-item" id="recipe-1">
       <div class="item-time">
          Время приготовления: 90 мин.
       </div>
        <img src="/images/borsh.png" class="item-recipes-img" />
        <div class="item-info">
            <h2>Борщ</h2>
            <h2>Борщ — традиционное восточнославянское блюдо, представляющее собой плотный суп на основе свёклы и капусты с добавлением других овощей, зелени, острых приправ. Он характеризуется ярко-красным цветом, обусловленным использованием свёклы в составе.</h2>
        </div>
  </div>
    <button class="del-button" type="button">
        Удалить
    </button>

    <div class="recipes-item" id="recipe-2">
        <div class="item-time">
            Время приготовления: 60 мин.
        </div>
        <img src="/images/medovik.png" class="item-recipes-img" />
        <div class="item-info">
            <h2>Медовик</h2>
            <h2>Медовик — один из популярных десертов, который легко испечь дома. Мед и ваниль придают торту уникальный аромат, выпечка получается мягкой и воздушной.</h2>
        </div>
    </div>
    <button class="del-button" type="button">
        Удалить
    </button>

</div>
