@{
    ViewData["Title"] = "Мой профиль";
}

<div class="profile-container">
    <!-- Аватарка пользователя -->
    <div class="avatar">
        <img src="/images/default-avatar.png" alt="Аватар пользователя" />
    </div>

    <!-- Информация о пользователе -->
    <div class="profile-info">
        <h1>Екатерина Милюкова</h1>
        <p><strong>Почта:</strong> milukovaekaterina72.com</p>
        <p><strong>Логин:</strong> k_mlkva</p>
        <p><strong>Дата регистрации:</strong> 15.12.2024</p>
    </div>
</div>
